<h1>Add a new photo</h1>

<form class="" action="/create_photo">
  <div>
    <label for="URL">Image URL</label>
    <input type="text" name="the_image_url" value="" id="URL">
  </div>

  <div class="">
    <label for="caption">Caption</label>
    <input type="text" name="the_caption" value="" id="caption">
  </div>

  <button>Create Photo</button>

</form>
